/* COLOR SCHEME:
Light Gray: #F0F0F2
Dark Blue: #1C4D8C
Light Blue: #07C7F2
Light Green: #B7D93D
Dark Green: #A2BF39
*/


body {
  background-color: #F0F0F2;
  margin: 0;
  padding: 0;
}


header {
  background-color: #B7D93D;
  font-family: "Playfair", serif;
}

.container h1 {
  color: #A2BF39;
  font-family: "Josefin Sans", sans-serif;
}
.container h2 {
  color: #A2BF39;
  font-family: "Josefin Sans", sans-serif;
}

.container p {
  color: #1C4D8C;
  font-family: "Playfair", serif;
  font-size: 20px;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #1C4D8C;
  font-size: 1.2em;
}

.navbar a:hover {
  color: #07C7F2;
}

.fa-solid
{
  color: #1C4D8C;
}
.fa-bars
{
  color: #1C4D8C;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  border: 5px solid #07C7F2;
  border-radius: 8px;
}


