/* COLOR SCHEME:
Light Gray: #F0F0F2
Dark Blue: #1C4D8C
Light Blue: #07C7F2
Light Green: #B7D93D
Dark Green: #A2BF39
*/


html, body {
  background-color: #F0F0F2;
  margin: 0;
  padding: 0;
}


header {
  background-color: #B7D93D;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #1C4D8C;
}



